<!--
  Student ID: 301145757 , 301143620 , 301173877 , 301178658 , 301182897 , 300977318
  Web App Name: Runtime
  Description: An Incident Management Application
-->

<footer>
    <nav class="fixed-bottom bg-dark navbar-dark text-center">
      <div class="container-fluid">
        <h6 class="display-12 navbar-text mid">All rights reserved. COMP229 - Project</h6>
      </div>
    </nav>
  </footer>
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script>
    var getTitle = "<%= title %>";
</script>
<script src="/javascripts/app.js"></script>    
</body>
</html>