<!--
  Student ID: 301145757 , 301143620 , 301173877 , 301178658 , 301182897 , 300977318
  Web App Name: Runtime
  Description: An Incident Management Application
-->

<% include partials/header.ejs %>

<div class="container-fluid text-center mx-auto">
  <div class="mt-5 mx-auto" style="width: 1000px;">
    <h1 class="display-5 font-monospace">Welcome Runtimers!</h1>
    <p class="pt-2 lead">
      Runtime is an incident management web application that stores and tracks the progress of any event that disrupts, or which could potentially disrupt, business operations. 
    </p>
    <img src="" alt="">
  </div>
</div>

<% include partials/footer.ejs %>